<h1>Table of Contents<span class="tocSkip"></span></h1>
<div class="toc"><ul class="toc-item"><li><span><a href="#appele-le-class-quand-on-a-deja-notre-db-dan-le-meme-catalog" data-toc-modified-id="appele-le-class-quand-on-a-deja-notre-db-dan-le-meme-catalog-1"><span class="toc-item-num">1&nbsp;&nbsp;</span>appele le class quand on a deja notre db dan le meme catalog</a></span></li><li><span><a href="#appele-le-class-quand-on-a-rien-dans-le-catalog" data-toc-modified-id="appele-le-class-quand-on-a-rien-dans-le-catalog-2"><span class="toc-item-num">2&nbsp;&nbsp;</span>appele le class quand on a rien dans le catalog</a></span></li></ul></div>

In [1]:
#import class AccidentsDataBase from file accidents_db.py
from accidents_db import AccidentsDataBase

In [ ]:
# tu peux acceder a tout les members de class par typer . et appui sur Tab

## appele le class quand on a deja notre db dan le meme catalog

par example, j'ai deja un fishier qui s'appele accidents.sqlite3 avec tout les tableux deja prepare dans le meme catalog que cet notebook

In [2]:
# cree object db1 qui return connection a base de donne
db1 = AccidentsDataBase()

<sqlite3.Connection object at 0x7f6258df0030>

In [6]:
# pour savoir les noms de tableux executer la methode get_tables_names()
db1.get_tables_names()

['vehicules', 'usagers', 'lieux', 'caracteristiques']

In [8]:
# var name_db return the name of base de donne donc tu a connecte
db1.name_db

'accidents.sqlite3'

In [9]:
# methode get_df retourne data frame de tableau que tu a indique dans les parantheses
db1.get_df('lieux')

              Num_Acc  catr  voie  circ  ...  larrout  surf  infra  situ
0        201900000001   1.0   3.0   3.0  ...      0.0   1.0    2.0   1.0
1        201900000002   1.0   1.0   1.0  ...      0.0   1.0    0.0   1.0
2        201900000003   1.0  86.0   3.0  ...      0.0   1.0    0.0   1.0
3        201900000004   1.0   4.0   3.0  ...      0.0   1.0    0.0   1.0
4        201900000005   1.0  86.0   1.0  ...      0.0   1.0    2.0   1.0
...               ...   ...   ...   ...  ...      ...   ...    ...   ...
1016546  200500087950   4.0   0.0   2.0  ...     80.0   1.0    0.0   1.0
1016547  200500087951   4.0   0.0   2.0  ...     70.0   1.0    0.0   1.0
1016548  200500087952   4.0   0.0   1.0  ...     75.0   1.0    0.0   1.0
1016549  200500087953   4.0   0.0   2.0  ...    150.0   1.0    0.0   1.0
1016550  200500087954   2.0   0.0   3.0  ...     75.0   2.0    0.0   1.0

[1016551 rows x 15 columns]

In [10]:
# la methode get_merged_df() returne df avec merged tableaux dans le base de donne
merged_df = db1.get_merged_df()

In [11]:
merged_df

              Num_Acc  catr  voie  circ  ...  col        lat      long  weekday
0        201900000001   1.0   3.0   3.0  ...  2.0  48.896210  2.470120        5
1        201900000002   1.0   1.0   1.0  ...  6.0  48.930700  2.368800        5
2        201900000003   1.0  86.0   3.0  ...  4.0  48.935872  2.319174        3
3        201900000004   1.0   4.0   3.0  ...  4.0  48.817329  2.428150        5
4        201900000005   1.0  86.0   1.0  ...  2.0  48.776362  2.433254        5
...               ...   ...   ...   ...  ...  ...        ...       ...      ...
1016546  200500087950   4.0   0.0   2.0  ...  3.0        NaN       NaN        2
1016547  200500087951   4.0   0.0   2.0  ...  3.0        NaN       NaN        4
1016548  200500087952   4.0   0.0   1.0  ...  3.0        NaN       NaN        0
1016549  200500087953   4.0   0.0   2.0  ...  5.0        NaN       NaN        1
1016550  200500087954   2.0   0.0   3.0  ...  7.0        NaN       NaN        5

[1016551 rows x 28 columns]

## appele le class quand on a rien dans le catalog

**!!!Attention ca prends du temps pour creer base de donne!!! environ 20 minutes**

In [ ]:
db_new = AccidentsDataBase('test_db.sqlite3')

<sqlite3.Connection object at 0x7f6230fc6120>
fichier caracteristiques - 2019
fichier caracteristiques - 2018
exeption1
fichier caracteristiques - 2017
exeption1
fichier caracteristiques - 2016
exeption1
fichier caracteristiques - 2015
exeption1
fichier caracteristiques - 2014
exeption1
fichier caracteristiques - 2013
exeption1
fichier caracteristiques - 2012
exeption1
fichier caracteristiques - 2011
exeption1
fichier caracteristiques - 2010
exeption1
fichier caracteristiques - 2009
exeption2
fichier caracteristiques - 2008
exeption1
fichier caracteristiques - 2007
exeption1
fichier caracteristiques - 2006
exeption1
fichier caracteristiques - 2005
exeption1
fichier lieux - 2019
fichier lieux - 2018
fichier lieux - 2017
fichier lieux - 2016
fichier lieux - 2015
fichier lieux - 2014
fichier lieux - 2013
fichier lieux - 2012
fichier lieux - 2011
fichier lieux - 2010
fichier lieux - 2009
fichier lieux - 2008
fichier lieux - 2007
fichier lieux - 2006
fichier lieux - 2005
fichier vehicules - 2019
fichier vehicules - 2018
fichier vehicules - 2017
fichier vehicules - 2016
fichier vehicules - 2015
fichier vehicules - 2014
fichier vehicules - 2013
fichier vehicules - 2012
fichier vehicules - 2011
fichier vehicules - 2010
fichier vehicules - 2009
fichier vehicules - 2008
fichier vehicules - 2007
fichier vehicules - 2006
fichier vehicules - 2005
fichier usagers - 2019
fichier usagers - 2018
fichier usagers - 2017
fichier usagers - 2016
fichier usagers - 2015
fichier usagers - 2014
fichier usagers - 2013
fichier usagers - 2012
fichier usagers - 2011
fichier usagers - 2010
fichier usagers - 2009
fichier usagers - 2008
fichier usagers - 2007
fichier usagers - 2006
fichier usagers - 2005
Data base test_db.sqlite3 was created

In [20]:
#onece base de donne est fais on peux appler les meme methode que avans
db_new.get_tables_names()

['vehicules', 'usagers', 'lieux', 'caracteristiques']

In [4]:
db_new.get_merged_df()

,Num_Acc,jour,mois,an,hrmn,lum,dep,agg,int,atm,...,pr,pr1,vosp,prof,plan,lartpc,larrout,surf,infra,situ
0,201900000001,30,11,2019,01:30:00,4,93,1,1,1.0,...,6.0,900.0,0.0,1.0,2.0,0.0,0.0,1.0,2.0,1.0
1,201900000002,30,11,2019,02:50:00,3,93,1,1,1.0,...,3.0,845.0,0.0,4.0,2.0,0.0,0.0,1.0,0.0,1.0
2,201900000003,28,11,2019,15:15:00,1,92,1,1,1.0,...,10.0,500.0,0.0,1.0,3.0,0.0,0.0,1.0,0.0,1.0
3,201900000004,30,11,2019,20:20:00,5,94,1,1,1.0,...,2.0,299.0,0.0,1.0,1.0,0.0,0.0,1.0,0.0,1.0
4,201900000005,30,11,2019,04:00:00,3,94,1,1,1.0,...,41.0,0.0,0.0,1.0,3.0,0.0,0.0,1.0,2.0,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1017304,200500087950,21,12,2005,20:35:00,5,RE,2,2,1.0,...,-1.0,-1.0,0.0,1.0,1.0,0.0,80.0,1.0,0.0,1.0
1017305,200500087951,23,12,2005,10:10:00,1,RE,2,1,1.0,...,-1.0,-1.0,0.0,1.0,2.0,0.0,70.0,1.0,0.0,1.0
1017306,200500087952,26,12,2005,17:15:00,1,RE,2,2,1.0,...,-1.0,-1.0,0.0,1.0,1.0,0.0,75.0,1.0,0.0,1.0
1017307,200500087953,27,12,2005,15:00:00,1,RE,2,3,2.0,...,-1.0,-1.0,0.0,1.0,1.0,0.0,150.0,1.0,0.0,1.0
1017308,200500087954,31,12,2005,21:00:00,5,RE,2,1,2.0,...,76.0,0.0,0.0,1.0,2.0,20.0,75.0,2.0,0.0,1.0

In [8]:
from functions import *

leux = db_new.get_df('lieux')
df_info(df3)

    Number of lines : 1016551
    Number of columns: 15

,name,type,n_unique,unique,null%
2,voie,object,14860,"[3.0, 1.0, 86.0, 4.0, FOCH (RUE DU MARECHAL), ...",9.03
0,Num_Acc,int64,1016551,"[2.01e+11, 2.01e+11, 2.02e+11]",0.00
1,catr,float64,8,"[1.00e+00, 3.40e+00, 9.00e+00]",0.00
3,circ,float64,5,"[0.00e+00, 1.86e+00, 4.00e+00]",0.00
4,nbv,float64,11,"[0.00e+00, 2.06e+00, 1.00e+01]",0.00
5,pr,float64,824,"[-1.00e+00, 4.70e+01, 9.93e+03]",0.00
6,pr1,float64,2267,"[-1.00e+00, 1.42e+02, 9.54e+03]",0.00
7,vosp,int64,4,"[0.00e+00, 1.33e-01, 3.00e+00]",0.00
8,prof,float64,5,"[0.00e+00, 1.15e+00, 4.00e+00]",0.00
9,plan,float64,5,"[0.00e+00, 1.20e+00, 4.00e+00]",0.00
10,lartpc,float64,430,"[0.00e+00, 4.71e+00, 9.60e+02]",0.00
11,larrout,float64,602,"[-8.10e+01, 5.15e+01, 9.99e+02]",0.00
12,surf,float64,9,"[1.00e+00, 1.29e+00, 9.00e+00]",0.00
13,infra,float64,10,"[0.00e+00, 4.62e-01, 9.00e+00]",0.00
14,situ,float64,8,"[0.00e+00, 1.20e+00, 8.00e+00]",0.00

In [10]:
db.get_tables_names()

['vehicules', 'usagers', 'caracteristiques', 'lieux']